body {
  background-color: white;
  margin: 0;
}

p {
  margin: 0;
  color: grey;
}
/* Center the form */
.recoveryInfo {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 75vh;
  width: 100%;
  background-color: white;
}

.inputContainer {
  display: flex;
  justify-content: space-around;
}