.forkButton:hover, .downloadButton:hover, .editButton:hover, 
.publishButton:hover, .deleteButton:hover{
    transform: scale(2.3); 
    transition: transform 0.3s ease; 
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3.5);
  }
  100% {
    transform: scale(1);
  }
}

.animate-like {
  animation: pop 0.5s ease;
}
