.forkButton:hover, .downloadButton:hover, .editButton:hover, 
.publishButton:hover, .deleteButton:hover{
    transform: scale(1.5); 
    transition: transform 0.3s ease; 
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-like {
  animation: pop 0.5s ease;
}

#loader.custom-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  border: 10px solid lightgray;
  border-top-color: #cc99ff; /* lighter purple */
  border-right-color: #ffcc99; /* lighter orange */
  border-bottom-color: #ff99cc; /* lighter pink */
  border-left-color: #66ffff; /* lighter cyan */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
