.propertyTitle{
    font-size: 30px;
    text-align: center;
    padding: 5px;
    background-color: #FC9ABD;
}
.CSV-button{
    float: right;
    background-color: #FC9ABD;
    
}
.property-table {
    background-color: #FDF4F3;
}

.exit{
    float: right;
    background-color: #FC9ABD;
}
.save{
    float: right;
    background-color: #FC9ABD;
}
.formcolor{
    background-color: #FDF4F3;
}

.property-table thead th {
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 10; 
}